{% extends "base_competition.html" %}

{% block content_competition %}


<div id="plot"> </div>
<script>document.getElementById('plot').innerHTML = `{{ plot|safe }}`</script>
<br>


<h1>Диаграмма рассеивания</h1>

<div class="container">
    <details>
    <summary>Описание</summary>
        <br>
        Показывает отношение между двумя непрерывными переменными.<br>
        При раскраске по котегориям можно увидеть отношение с третьей,<br>
        категориальной переменной.<br>
        Линии регрессии помогут определить линейную зависимость между ними. <br>
        <br>
        Для большей наглядности следует выбирать третью перенменную с<br>
        небольшим количеством принимаемых значений.<br>
        Если этих значений будет больше 10, то линии регресии построены не будут.<br>
    </details>
</div>
<br>

<form method="post">
    <div class="container">
        <h1>Значения на оси Ox:</h1>
        {% for row_title in rows %}
        <div class="row">
            <input type="radio" id="{{row_title}}_x" value="{{row_title}}" name="x" style="max-width: 20px;" checked>
            <label for="{{row_title}}_x"><p>{{ row_title }}</p></label>
        </div>
        {% endfor %}
        <script>document.getElementById('{{rows[0]}}_x').checked = true;</script>
        <br>

        <h1>Значения на оси Oy</h1>
        {% for row_title in rows %}
        <div class="row">
            <input type="radio" id="{{row_title}}_y" value="{{row_title}}" name="y" style="max-width: 20px;">
            <label for="{{row_title}}_y"><p>{{ row_title }}</p></label>
        </div>
        {% endfor %}
        <script>document.getElementById('{{rows[0]}}_y').checked = true;</script>
        <br>

        <h1>Раскрасить по категориям (необязательно):</h1>
        {% for row_title in rows %}
        <div class="row">
            <input type="radio" id="{{row_title}}_hue" value="{{row_title}}" name="hue" style="max-width: 20px;">
            <label for="{{row_title}}_hue"><p>{{ row_title }}</p></label>
        </div>
        {% endfor %}

        <br>
        <div class="row">
            <input type="checkbox" id="regline" name="regline" style="max-width: 20px;">
            <label for="regline"><p>Добавить линии регрессии </p></label>
        </div>
        <button type="submit">Построить</button>
    </div>
</form>


{% endblock %}
