{% extends "base_competition.html" %}

{% block content_competition %}


<div id="plot"> </div>
<script>document.getElementById('plot').innerHTML = `{{ plot|safe }}`</script>
<br>

<h1>График распределения</h1>

<div class="container">
    <details>
    <summary>Описание</summary>
        <br>
        Графики распределения показывают плавное распределение<br>
        одной (или нескольких) непрерывных переменных.<br>
        <br>
        Категории следует выбирать категолиальными переменными.<br>
        При использовании столбца с более чем 10 различными значениями<br>
        диаграмма раскрашена не будет.<br>
        <br>
        Выбираемые столбцы должны быть числового типа.<br>
        Иначе будет построен пустой график.<br>
    </details>
</div>
<br>

<form method="post">
    <div class="container">

        <h1>Значение</h1>
        {% for row_title in rows %}
        <div class="row">
            <input type="radio" id="{{row_title}}_val" value="{{row_title}}" name="val" style="max-width: 20px;">
            <label for="{{row_title}}_val"><p>{{ row_title }}</p></label>
        </div>
        {% endfor %}
        <script>document.getElementById('{{rows[0]}}_val').checked = true;</script>
        <br>

        <h1>Раскрасить по категориям (необязательно):</h1>
        {% for row_title in rows %}
        <div class="row">
            <input type="radio" id="{{row_title}}_hue" value="{{row_title}}" name="hue" style="max-width: 20px;">
            <label for="{{row_title}}_hue"><p>{{ row_title }}</p></label>
        </div>
        {% endfor %}

        <br>
        <button type="submit">Построить</button>
    </div>
</form>


{% endblock %}
