body {
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}


header {
    width: 98%;
    position: fixed;
    height: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #f0f0f0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    top: 0;
}

.sidebar {
    height: 100vh;
    width: 175px;
    background-color: #333;
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    top: 70px;
}


.sidebar a {
    display: block;
    color: white;
    padding: 15px;
    text-decoration: none;
    font-size: 18px;
    margin: 10px 0;
    border-radius: 5px;
    transition: background-color 0.3s;
}


.container, .main_page {
    width: 100%;
    padding: 20px;
    background-color: white;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.container { max-width: 600px; border-radius: 8px; align-self: center; }
.main_page { max-width: 95%; }


.row {
    display: flex;
    flex-direction: row;
    gap: 10px;
}


form input, textarea, select {
    width: 95%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
    resize: none;
}


button, .button {
    width: 100%;
    padding: 10px 20px;
    color: white;
    background-color: #4caf50;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    margin: 15px 0;
} /* 4caf50 - яркий зелёный; 31a1c7 - голубой; 27ae60 - зелёный; 8e44ad - фиолетовый;
     e67e22 - жёлтый; f25f73 - розовый; e26a2c - оранжевый */


* {
    font-family: Arial, sans-serif;
    color: #333;
}

h1 { font-size: 24px; }
h2 { font-size: 20px; }
p {  font-size: 18px; }

a {
    color: white;
    text-decoration: blink;
    cursor: pointer;
}


table {
    border-collapse: collapse;
    border: 2px solid #333;
    font-family: sans-serif;
    font-size: 14px;
    letter-spacing: 1px;
}


th, td {
    border: 1px solid #333;
    padding: 8px 10px;
}
