{% extends "base_competition.html" %}

{% block content_competition %}



{% if attempts > 0 %}
    <p>Попыток сегодня: {{ attempts }}</p>
    <form method="post" enctype="multipart/form-data">
    <div class="container">
        <h1>Отправка решения</h1>
        <h2>Добавте описание своему решению</h2>
        <input id="description" name="description">
        <input type="file" id="submission_file" name="submission_file" required>
        <button type="submit">Отправить решение</button>
    </div>
    </form>
{% else %}
    <div class="container">
        <h2>У вас закончились попытки на сегодня</h2>
        <p>Приходите завтра, чтобы попробовать ещё раз</p>
    </div>
{% endif %}

{% endblock %}


